{% capture site_Study %}
    {% for study in site.Study %}{{ study | first }}
        {% unless forloop.last %},{% endunless %}
    {% endfor %}
{% endcapture %}
{% assign Study_list = site_Study | split:',' | sort %}

<div class="Study_box animated fadeIn">
    <h2> STUDY </h2>
    <ul>
       {% for item in (0..site.Study.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ Study_list[item] | strip_newlines }}{% endcapture %}
            <li><a href=" {{site.url}}/Study/{{this_word | strip }} "> {{ this_word }} </a></li>
            <br/>
       {% endunless %}{% endfor %}
    </ul>
</div>
